<h1>iPhone</h1>
<div class="navbar navbar-default">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-5">
				<button type="button" ng-click="changeView('list')" class="btn navbar-btn {{viewClass == 'col-md-12' ? 'btn-primary':'btn-default'}}">
					Список
				</button>
				<button type="button" ng-click="changeView('grid')" class="btn btn-default navbar-btn {{viewClass == 'col-md-4' ? 'btn-primary':'btn-default'}}">
					Плитка
				</button>
			</div>
			<div class="col-md-3 col-md-offset-4">
				<form class="navbar-form" role="search">
					<div class="form-group">
						<input type="text" ng-model="query" class="form-control" placeholder="Поиск">
					</div>
			</form>
			</div>				
		</div>
	</div>
</div>
<div class="row">
	<div class="{{viewClass}}" ng-repeat="phone in phones | filter: {name: query}">
		<div class="panel panel-primary">
			<div class="panel-heading">{{phone.name}}</div>
			<div class="panel-body text-center">
				<img src="img/{{phone.img}}" alt="{{phone.name}}">
				<ul class="list-group">
					<li class="list-group-item">
						<strong>iOS:</strong> {{phone.os}}
					</li>
					<li class="list-group-item">
						<strong>Экран:</strong> {{phone.screen}}''
					</li>
					<li class="list-group-item">
						<strong>Разрешение:</strong> {{phone.resolution}}
					</li>
					<li class="list-group-item">
						<strong>Память:</strong> {{phone.memory}}
					</li>
					<li class="list-group-item">
						<strong>Коммуникации:</strong> {{phone.communications}}
					</li>
				</ul>	
			</div>
			<div class="panel-footer text-center">от {{phone.price}} руб.</div>
		</div>
	</div>
</div>